@function rgba-on-white($rgba) {
  @return rgba-on-rgb($rgba, white);
}

@function rgba-on-black($rgba) {
  @return rgba-on-rgb($rgba, black);
}

@function rgba-on-rgb($rgba, $rgb) {
  @return rgb-merge($rgba, $rgb, alpha($rgba));
}

@function rgb-merge($rgb0, $rgb1, $ratio) {
  $r:  red($rgb0) *$ratio +red($rgb1) *(1 -$ratio);
  $g: green($rgb0) *$ratio +green($rgb1) *(1 -$ratio);
  $b: blue($rgb0) *$ratio +blue($rgb1) *(1 -$ratio);
  @return rgb($r, $g, $b);
}
